body {
    background-color: #003366
}

#wrapper {
    height: 100%;
    width: 100%;
}

#logo {
    width: 30%;
}

html, body, #wrapper-table {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper-table td {
    vertical-align: middle;
    text-align: center;
}

#iframe-wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:999;
    -webkit-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -o-transition: opacity 1.5s ease-in;
}

#iframe-wrapper.fade-out
{
    opacity:0 !important;
}

#iframe-wrapper.fade-in
{
    opacity:1 !important;
}